
<div class="page-header">
  <h1>Bandwidth Usage</h1>
</div>

<div class="row">
  <div class="span4">
    <h2><%= @host.ip_address %></h2>
    <p>is this yours or what?</p>
  </div>
  <div class="span12">
    <div class="row">
      <div class="span6">
        <h3>&#11015; Download</h3>
        <h4><%= number_to_human_size(@host.inbound)%></h4>
      </div>
      <div class="span6">
        <h3>&#11014; Upload</h3>
        <h4><%= number_to_human_size(@host.outbound)%></h4>
      </div>
    </div>
    <div class="row">
      <p>The cap for download is 1.5 GB.</p>
    </div>
  </div>
</div>
