
<div class="page-header">
  <h1>Bandwidth Usage</h1>
</div>

<div class="row">
  <div class="span4">
    <h2>127.0.0.1</h2>
    <p>is this yours or what?</p>
  </div>
  <div class="span12">
    <div class="row">
      <h3>&#11015; Download</h3>
      <div class="span8">
       <h4>600MB</h4>
       <p> The current cap is 60TB</p>
      </div>
      <div class="span4">
        <p> Download is what you download from the internet during peak hours.</p>
      </div>
    </div>
    <div class="row">
      <h3>&#11014; Upload</h3>
      <div class="span8">
       <h4>600MB</h4>
       <p> There is currently no cap on upload.</p>
      </div>
      <div class="span4">
        <p> Upload is what you upload from the internet</p>
      </div>
    </div>
  </div>
</div>
